{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "airbnb",
        "prettier"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "plugin:react/jsx-runtime": "off",
        "react/react-in-jsx-scope": "off",
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
        "react/self-closing-comp": ["error", {
        "component": false,
        "html": true,
        "jsx": false
}]
    }
}
