{
    "env": {
        "browser": true,
        "es2021": true
    },
    "settings": {
        "react":{
            "version": "detect"
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "airbnb",
        "plugin:react-hooks/recommended",
        "plugin:prettier/recommended",
        

    
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "prettier"
    ],
    "rules": {
        "plugin:react/jsx-runtime": "off",
        "react-in-jsx-scope": "off",
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
        "react/self-closing-comp": ["error", {
        "component": false,
        "html": true,
        "jsx": true
}]
    }
}
