.logo {
  color: #fff;
  font-weight: 300;
  font-size: 2rem;
  font-family: Cormorant SC;
  font-weight: 300;
}

.logo span {
  font-weight: 500;
  color: #98c3a1;
  font-family: Cormorant SC;
  font-weight: 600;
}

@media (max-width: 400px) {
  .logo {
    font-size: 1.3rem;
  }
}
