:root {
  --header-background: #0a0c0d;
  --note-background: #98c3a1;
  --dark-gray: #213635;
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -mox-osx-font-smoothing: grayscale;
}

ul,
li {
  list-style: none;
}
